### Connect to the database

In [1]:
!pip install sqlalchemy==1.3.9
!pip install ibm_db_sa

Requirement already satisfied: sqlalchemy==1.3.9 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (1.3.9)
Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from ibm_db_sa) (1.3.9)

In [2]:
%load_ext sql

In [3]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
# Enter the connection string for your Db2 on Cloud database instance below
%sql ibm_db_sa://ktl54482:xxxxxxxxxx@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB?security="SSL"

'Connected: ktl54482@BLUDB'


### Problem 1

##### Find the total number of crimes recorded in the CRIME table.

In [20]:
%sql select count(*) from CHICAGO_CRIME_DATA

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('533'),)]

### Problem 2

##### List community areas with per capita income less than 11000.

In [21]:
%sql select COMMUNITY_AREA_NAME, PER_CAPITA_INCOME from CENSUS_DATA where PER_CAPITA_INCOME < 11000

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('West Garfield Park', 10934),
 ('South Lawndale', 10402),
 ('Fuller Park', 10432),
 ('Riverdale', 8201)]

### Problem 3

##### List all case numbers for crimes  involving minors?(children are not considered minors for the purposes of crime analysis)

In [30]:
%sql select CASE_NUMBER from CHICAGO_CRIME_DATA where year(DATE)< 2003

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('HH486939',),
 ('G256545',),
 ('HH201585',),
 ('G212935',),
 ('G662598',),
 ('G040244',),
 ('HH702524',),
 ('G376790',),
 ('HH869886',),
 ('HH657809',),
 ('HH316735',),
 ('G597730',),
 ('G736811',),
 ('G517474',),
 ('G056330',),
 ('HH696901',),
 ('HH558381',),
 ('G688026',),
 ('G419948',),
 ('G533278',),
 ('HH827769',),
 ('HH639427',),
 ('HH867007',),
 ('G070193',),
 ('G198370',),
 ('HH741961',),
 ('G140454',),
 ('HH262924',),
 ('HH619797',),
 ('G134016',),
 ('G496261',),
 ('HH576932',),
 ('G323273',),
 ('HH657604',),
 ('G170513',),
 ('HH402660',),
 ('G577663',),
 ('HH729144',),
 ('HH692211',),
 ('HH463517',),
 ('HH829588',),
 ('HH343366',),
 ('HH106347',),
 ('HH154448',),
 ('G659211',),
 ('G375927',),
 ('HH149573',),
 ('HH859922',),
 ('G611731',),
 ('HH352862',),
 ('G652158',),
 ('HH605275',),
 ('HH337319',),
 ('HH423186',),
 ('G654957',),
 ('G629024',),
 ('G345035',),
 ('HH493814',),
 ('G161722',),
 ('HH208082',),
 ('HH405177',),
 ('G326063',),
 ('HH329720',),
 ('G575031',),
 ('G122095',),
 ('G302291',),
 ('G057394',),
 ('HH460583',),
 ('HH292682',),
 ('G635735',),
 ('HH688935',),
 ('G158614',),
 ('G021609',)]

### Problem 4

##### List all kidnapping crimes involving a child?

In [32]:
%sql select PRIMARY_TYPE from CHICAGO_CRIME_DATA where PRIMARY_TYPE ='KIDNAPPING'

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('KIDNAPPING',)]

### Problem 5

##### What kinds of crimes were recorded at schools?

In [39]:
%sql select PRIMARY_TYPE,LOCATION_DESCRIPTION from CHICAGO_CRIME_DATA where LOCATION_DESCRIPTION LIKE'SCHOOL%'

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, BUILDING'),
 ('BATTERY', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL DAMAGE', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('NARCOTICS', 'SCHOOL, PUBLIC, BUILDING'),
 ('ASSAULT', 'SCHOOL, PUBLIC, GROUNDS'),
 ('CRIMINAL TRESPASS', 'SCHOOL, PUBLIC, GROUNDS'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PRIVATE, BUILDING'),
 ('PUBLIC PEACE VIOLATION', 'SCHOOL, PUBLIC, BUILDING')]

### Problem 6

##### List the average safety score for all types of schools.

In [40]:
%sql select AVG(SAFETY_SCORE) as average_safety_score from CHICAGO_PUBLIC_SCHOOLS

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[(Decimal('49.504873'),)]

### Problem 7

##### List 5 community areas with highest % of households below poverty line

In [41]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA order by PERCENT_HOUSEHOLDS_BELOW_POVERTY desc limit 5

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',),
 ('Fuller Park',),
 ('Englewood',),
 ('North Lawndale',),
 ('East Garfield Park',)]

### Problem 8

##### Which community area is most crime prone?

In [42]:
%%sql select D.COMMUNITY_AREA_NAME from CENSUS_DATA D,CHICAGO_CRIME_DATA S where D.COMMUNITY_AREA_NUMBER=S.COMMUNITY_AREA_NUMBER
order by S.COMMUNITY_AREA_NUMBER desc limit 1

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Edgewater',)]

### Problem 9

##### Use a sub-query to find the name of the community area with highest hardship index

In [43]:
%sql select COMMUNITY_AREA_NAME from CENSUS_DATA where HARDSHIP_INDEX= (select MAX(HARDSHIP_INDEX) from CENSUS_DATA )

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Riverdale',)]

### Problem 10

##### Use a sub-query to determine the Community Area Name with most number of crimes?

In [8]:
%%sql select D.COMMUNITY_AREA_NAME,(select MAX(COMMUNITY_AREA_NUMBER) as most_prone_to_crime_city from CHICAGO_CRIME_DATA ) 
from CENSUS_DATA D,CHICAGO_CRIME_DATA S 
where D.COMMUNITY_AREA_NUMBER=S.COMMUNITY_AREA_NUMBER limit 1

 * ibm_db_sa://ktl54482:***@dashdb-txn-sbox-yp-dal09-14.services.dal.bluemix.net:50000/BLUDB
Done.

[('Brighton Park', 77)]